{% extends 'base.html.twig' %}

{% block page_title %}
    Bienvenue
{% endblock %}

{% block body %}
    <p>
       Bienvenue sur la plateforme de gestion des stages du lycée <strong>Saint Vincent</strong>.
    </p>
{% endblock %}

{% block stylesheets %}
{% endblock %}
