{% extends 'base.html.twig' %}

{% block page_title %}
    Entreprise
{% endblock %}

{% block body %}

    <select name="forma" onchange="location = this.value;">
        <option value="">Sélectionner une entreprise</option>
    </select>

{% endblock %}

{% block stylesheets %}
{% endblock %}